
@media screen and (max-width: 1450px){
   
}

@media screen and (max-width: 1350px){
 
    
}
@media screen and (max-width: 1199px){

    .ashboard-item-img img{
        width: 28px;
        height: 28px;
    }
   
    .dashboard-item .thm-heading h4 {
        font-size: 24px;
    }

    .more-action-btn {
        width: 30px;
    }
}

@media screen and (max-width: 1024px){
   
    .operator-detail-sec {
        padding: 10px 12px;
    }

}

@media screen and (max-width: 991px){
    .sidebar-menu-sec {
        position: initial;
        width: 100%;
    }
    .sidebar-menu-con {
        height: auto;
        overflow-x: auto;
        overflow-y: inherit;
    }
    .sidebar-menu-list {
        display: flex;
        align-items: flex-start;
        width: max-content;
    }

    .sidebar-menu-item {
        width: 120px;
    }

    .borad-inner-body-sec {
        margin-left: auto;
    }

    .borad-container {
        padding-left: 10px !important;
    }

    .borad-inner-body {
        margin-top: 28px;
    }

    .operator-table-con {
        overflow-y: auto;
        padding-bottom: 110px;
    }

    .menu-item-con {
        border-left: 0px solid var(--white-color);
        border-bottom: 3px solid var(--white-color);
    }

   

    .tickets-modal-item .thm-heading {
       margin: 2px 6px;
    }

    .tickets-modal-list-sec {
        width: auto;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .tickets-modal-item .thm-heading {
        white-space: nowrap;
    }

    .tickets-details-modal-list {
        padding: 4px 14px;
    }

    .tickets-details-modal  .modal-header .thm-heading h4 {
        font-size: 14px;
    }
    .tickets-details-modal  .modal-header .thm-heading h3 {
        font-size: 12px;
    }

    .tickets-modal-item {
        height: 56px;
    }

    .tickets-details-con .thm-heading p {
        margin-top: 4px;
    }

    .tickets-details-con .thm-heading p {
        font-size: 12px;
    }

    .login-sec {
        width: 95%;
    }

    .login-form-con {
        padding: 12px;
        padding-left: 0px;
    }

    .remember-sec label {
        font-size: 12px;
    }

    .forgot-sec a {
        font-size: 12px;
    }

    .add-messag-sec {
        width: 80%;
    }

    .chat-user-wrapper .chat-user-tab {
        margin-top: 0px;
        margin-right: 0px;
    }

    
    .chat-user-wrapper .operator-table-sec {
        margin-top: 0px;
        height: calc(100vh - 0px);
    }

    .messages-item-content  p br{
        display: none;
    }

    .back-arrow{
        display: block;
    }

    .messag-fix-sec{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        height: 100vh;
        visibility: hidden;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    .chat-user-tab {
        width: 100%;
        height: auto !important;
    }

    .messag-fix-sec.show {
         visibility: visible; 
        -webkit-transform: translateX(0);
        transform: translateX(0); 
    }

    .chat-user-btn {
        padding: 14px 10px;
    }
    
    .user-active-heading .thm-heading h4 {
        font-size: 16px;
    }

    .more-action-btn{
        width: 30px;
    }

    .agent-chat-request .more-action-btn {
        width: auto !important; 
    }

    .ashboard-item-img img{
        width: 24px ;
        height: 24px;
    }

    .dashboard-list-con {
        border: 1px solid var(--border-color);
        margin: 8px 0px;
        padding: 14px 12px;
    }

    .dashboard-item .thm-heading h4 {
        font-size: 24px;
        line-height: normal;
    }

    .chat-request-offcanvas{
        display: none;
    }

    .chat-request-offcanvas-con{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .chat-request-btn {
        display: block;
    }

    .chat-request-offcanvas-con{
        padding: 10px;
    }


    .auto-message-slider-con {
        width: 100%;
    }
    .chat-flow-tables .messages-body-sec {
        height: calc(100vh - 0px);
    }

    .auto-message-slider {
        margin: 10px 0px;
    }
    .agent-chat-user .messages-body-sec {
        height: calc(100vh - 62px );
    }
    .messages-body-sec {
        height: calc(100vh - 130px);
    }
}

@media screen and (max-width: 767px){
   .operator-table-footer{
    display: block;
   }
    .entries-sec {
        justify-content: center;
        margin: 10px 0px;
    }

    .operator-table-sec {
        height: auto;
    }
    .entries-pages {
        justify-content: center;
        display: block;
        text-align: center;
    }
    .menu-item-con {
        padding: 5px 0px;
    }

    .sidebar-menu-item {
        width: 106px;
    }

    .thm-heading h2 {
        font-size: 13px;
    }

    .admin-con span {
        font-size: 10px;
    }
    .thm-heading h3 {
        font-size: 13px;
    }
    .menu-item-con .thm-heading {
        margin-top: 4px;
    }

    .search-sec {
        padding: 12px;
    }

    .thm-btn {
        padding: 6px 10px;
        font-size: 13px;
    }
    .edit-icon{
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .edit-icon img{
        width: 100%;
        height: 100%;
    }

    .entries-pagination {
        margin-left: 0px;
        margin-top: 10px;
    }

    .entries-pagination .pagination{
        justify-content: center;
    }

    .login-item-img {
    text-align:center;
    height: 100%;
    width: 100%;
    }
    
    .login-item-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .login-sec{
        width:90%;
    }
    .add-messag-sec {
        width: 96%;
    }


    .title-option-item {
        width: 100%;
    }

    .title-option-item-con {
        margin: 10px;
    }



    .title-option-item .assistant-con {
        margin: 0px;
        min-width: 180px;
        margin-top: 26px;
    }

    .title-arrow-left::before {
        width: 200px;
    }

    .title-arrow-right::before {
        width: 200px;
    }

    .title-option-item {
        width: max-content;
    }

    .title-option-con {
        width: max-content;
    }

    .assistant-item.draggable-element {
        width: max-content;
    }

    .video-sec iframe{
        width: 60%;
        height: 100%;
    }

    .messages-body-sec {
        padding-bottom: 130px;
    }

    .theme-tab-btn .thm-btn {
        width: 100%;
        position: inherit;
        display: flex;
        text-align: center;
        justify-content: center;
        height: 40px;
        margin-top: 10px;
        line-height: 30px;
    }

    .operator-tab-item-one .operator-item {
        margin: 8px 0px;
    }
    
    
.broadcast-con span{
    color: var(--black-color) !important;
    font-size: 13px !important; 
    font-weight: 500 !important;

}

.admin-con label {
    font-size: 13px;
}
}

@media screen and (max-width: 575px){

    .operator-table-con {
        overflow-x: auto;
    }

    .messages-body-sec {
        height: calc(100vh - 99px);
    }

    .broadcast-con span{
        color: var(--black-color) !important;
        font-size: 12px !important; 
        font-weight: 500 !important;
    
    }
    .header-wrapper {
        padding: 6px 0px;
    }

    .sidebar-menu-con::-webkit-scrollbar {
        display: none;
    }
    .menu-item-con .thm-heading {
        margin-top: 2px;
    }

    .sidebar-menu-item {
        width: 101px;
    }

    .borad-inner-body {
        margin-top: 28px;
    }

    .search-sec {
        padding: 8px;
    }

    .search-input-sec input {
        height: 38px;
    }

    .operator-table-sec {
        margin-top: 12px;
        border-radius: 10px;
    }
    .more-list-btn {
        padding: 4px 8px;
        margin: 0px 0px;
    }

    .operator-check-con .form-check input {
        height: 16px;
        width: 26px;
    }

    .thm-heading h4 {
        font-size: 18px;
    }

    .dashboard-list-con {
        border-radius: 8px;
        margin: 6px 0px;
        padding: 20px 10px;
    }

    .tickets-details-modal-list {
        padding: 4px;
    }

    .tickets-details-modal .modal-header {
        padding: 8px 10px;
    }

    .tickets-details-con {
        padding: 6px 10px;
        padding-top: 0px;
    }

    .tickets-details-con .thm-heading span {
        font-size: 12px;
    }


    .login-item-img {
        display: none;
    }

    .login-form-con {
        padding: 12px;
        padding-left: 12px;
    }


    .login-con {
        border-top: none;

        padding: 18px 0px;
    }

    .thm-heading p {
        font-size: 12px;
    }

    
    .thm-heading P br{
        display: none;
    }

    .chat-icon img{
        width: 28px;
        height: 28px;
    }


    .chat-icon {
        margin-bottom: 5px;
    }

    .chat-flow-con .thm-btn {
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .add-messag-body {
        padding: 8px;
    }

    .add-messag-header {
        border-bottom: 1px solid var(--border-color);
        padding: 8px;
    }

    .add-messag-sec {
        border: 1.5px solid var(--border-color);
        margin-top: 12px;
    }

    .add-messag-footer .operator-offcanvas-footer {
        margin: 20px 0px 10px 0px;
    }


    .chat-flow-btn {
        border: 1px dashed var(--border-color);
        border-radius: 8px;
        padding: 8px 12px;
        margin: 6px;
    }

    .fileList-con ul li {
        border-radius: 3px;
        padding: 3px 6px;
        font-size: 12px;
    }

    .add-messag-header::before {
        border: 1.5px solid var(--border-color);
        left: 20%;
    }
    .add-option-sec .add-messag-header::before {
        left: auto;
        right: 30%;
    }


    .thm-heading span {
        font-weight: 600;
    }


    .title-input {
        position: relative;
         height: 40px; 
    }

    .user-active-heading .thm-heading h4 {
        font-size: 14px;
    }

    .user-active-heading {
        padding: 10px;}
        .back-arrow img{
            width: 20px;
            height: 20px;
        }

        .user-active-heading .thm-heading span::before {
            width: 7px;
            height: 7px;
            margin-right: 2px;
        }

        .tickets-modal-item .thm-heading {
            margin: 2px 11px;
        }


        .operator-detail-wrapper {
            margin-top: -20px;
            margin-left: -11px;
            margin-right: -11px;
        }

        .operator-detail-sec {
          padding: 4px 8px;
        }

        .dashboard-item .thm-heading h4 {
            font-size: 20px;
        }
        .dashboard-item .thm-heading{
            line-height: normal;
        }
        
        .user-active-heading {
            padding: 6px 10px;
        }

        .admin-checkbox {
            align-items: end;
        }

        .voice-bar-sec {
            width: 45px;
            height: 45px;
        }


        .bar {
            width: 2px;
            margin: 0px 1.5px;
        }
    
        @keyframes sound {
            0% {
               opacity: .35;
                height: 3px; 
            }
            100% {
                opacity: 1;       
                height: 22px;        
            }
          }


        .categories-sec .operator-item {
            margin-left: 10px;
        }

        .categories-sec .operator-item {
            display: block;
            margin: 0px;
        }

        .agent-flow-sec .search-sec {
            align-items: end;
        }

        .categories-sec .operator-item select {
            width: 130px;
        }

        .agent-flow-sec .search-input-sec input {
           width: 160px;
        }

        .reject-popup-modal .status-popup-sec {
            margin-bottom: 0px;
            background-color: var(--white-color);
        }

        .reject-popup-modal .modal-content {
            background-color: transparent !important;
            border: none;
        }

        .reason-sec {
            margin: 0px;
        }
        
	.language-modal .modal-header .thm-heading h4{
            font-size: 16px;
        }
}

@media screen and (max-width: 479px){

    .header-logo {
        max-width: 110px;
    }

    .operator-offcanvas-footer .thm-btn {
        padding: 6px 0px;
    }

    .status-popup-sec {
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: 8px;
        padding: 6px;
        margin-bottom: 64px;
    }
    
    .operator-btn .thm-btn {
        width: 100%;
        white-space: nowrap;
    }


    .thm-heading h3 {
        font-size: 12px;
    }
    .admin-con span {
        font-size: 9px;
    }

    .admin-con {
        margin-right: 8px;
    }

    .header-admin-btn {
        width: 38px;
        height: 38px;
    }

    .thm-heading h2 {
        font-size: 12px;
    }
    .sidebar-menu-item {
        width: 88px;
    }

    .sidebar-menu-con {
        padding-top: 0px; /* 60px; */
        margin-left: -10px;
        margin-right: -10px;
    }

    .menu-item-con {
        border-bottom: 2px solid var(--white-color);
    }

    .header-wrapper {
        border-bottom: 1px solid var(--border-color);
    }

    .admin-img-sec .header-admin-btn {
        border: 1px solid var(--border-color);
    }

    .search-input-sec {
        width: 100%;
    }

    .notification-sec {
        margin-right: 5px;
    }

    .thm-btn {
        padding: 4px 8px;
        font-size: 12px;
    }

    .search-input-sec input {
        border: 1px solid var(--border-color) !important;
        font-size: 12px;
    }

    .entries-pagination .pagination .page-item .page-link {
        font-size: 12px;
        padding: 4px 12px;
    }

    .entries-select select {
        font-size: 12px;
        margin: 0px 10px;
    }

    .thm-heading h4 {
        font-size: 16px;
    }

    .operator-offcanvas-body{
        padding: 10px;
    }

    .operator-item label {
        font-size: 13px;
        margin-bottom: 2px;
    }
    .operator-item input, .operator-item select {
        border-radius: 4px;
        font-size: 12px;
        height: 38px;
    }

    .thm-heading span {
        font-size: 12px;
    }

    .dashboard-list-con {
        border-radius: 6px;
        margin: 6px 0px;
        padding: 14px 8px;
    }

    .status-popup-modal .modal-body .status-popup-sec {
        width: 100%;
        border: none;
        border-radius: 0px;
        padding: 0px;
        margin-bottom:0px;
    }

    .status-popup-modal .header-admin-btn {
        width: 52px;
        height: 52px;
    }

    .status-popup-sec .operator-item {
        width: 92%;
        margin: 0px auto;
        padding: 10px 0px 26px;
    }

    .status-popup-modal .modal-body {
        border: 1px solid var(--border-color);
        border-radius: 10px;
        padding: 24px 10px;
    }

    .tickets-details-modal  .modal-header .thm-heading h4 {
        font-size: 13px;
    }
    .tickets-details-modal  .modal-header .thm-heading h3 {
        font-size: 11px;
    }

    .tickets-modal-item .thm-heading span {
        font-size: 11px;
    }

    .tickets-modal-item.entries-select-dropdown button {
        font-size: 12px;    
        padding: 2px 22px;
    }

    .tickets-details-con .thm-heading {
        margin-top: 6px;
    }
    .tickets-details-con .thm-heading h2 {
        font-size: 13px;
    }

    .tickets-details-con .thm-heading p {
        font-size: 11px;
    }

    .tickets-details-con .thm-heading span {
        font-size: 11px;
    }

    .form-footer .thm-btn{
        height: 38px;
    }

    .login-sec {
        width: 100%;
    }

    .chat-flow-btn {
        border-radius: 6px;
        padding: 8px 4px;
    }

    .chat-flow-con .thm-btn {
        font-size: 11px;
        padding: 3px 10px;
    }

    .chat-flow-btn .thm-heading p{
        font-size: 11px;
        line-height: normal;
    }

    .add-messag-header {
        padding: 6px;
    }

    .add-messag-con .thm-heading h4{
        font-size: 14px;
    }

    .add-messag-sec .operator-offcanvas-sec .btn-close {
        padding: 0px;
       
    }

    .add-messag-body {
        padding: 0px 6px;
    }

    .file-upload-sec {
        border: 1px solid var(--border-color);
        border-radius: 4px;
        height: 38px;
    }

    .add-messag-footer .operator-offcanvas-footer {
        margin: 10px 0px 10px 0px;
    }

    /* .assistant-con {
        border: 1px solid var(--border-color);
        padding: 7px 8px;
    } */

    .chat-heading {
        padding: 10px 8px;
    }

    .chat-user-btn {
        padding: 10px 6px;
    }

    .chat-user-btn .thm-heading::before {
        width: 6px;
        height: 6px;
        right: -14px;
    }

    .user-status-active span {
        font-size: 10px;
    }
    .borad-inner-body {
        margin-top: 20px;
    }

    .back-arrow{
        padding: 0px;
        margin-right: 10px;
    }

    .back-arrow img {
        width: 18px;
        height: 18px;
    }

    .messages-body-sec {
        padding-bottom: 118px;
        padding: 3px 6px;
    }

    .message-time {
        font-size: 10px !important;
    }
    .sub-messages-con{
        line-height: normal;
    }

    .messages-item-content {
        border-radius: 0px 6px 6px 6px;
        padding: 6px;
        margin-top: 4px;
    }

    .video-sec iframe {
        width: 76%;
    }

    .video-sec {
        margin-top: 6px;
    }

    .user-active-heading .thm-heading h4 {
        font-size: 13px;
    }

    .user-active-heading .thm-heading span {
        font-size: 11px;
    }

    .messages-input .header-admin-btn img{
        width: 14px;
        height: 14px;
    }

    .messages-type-right .thm-btn {
        height: 42px;
        width: 60px;
    }
    .messages-input  .header-admin-btn {
        height: 42px;
        width: 42px;
    }
    .messages-type-input input::placeholder {
      font-size: 12px;
    }

    .messages-footer-con {  
        padding: 2px;
    }

    .chat-user-sec {
        height: calc(100vh - 250px) !important;
    }


    .chat-flow-tables.operator-table-sec {
        height: calc(100vh - 150px);
    }

    .chat-user-wrapper .operator-table-sec {              
        height: calc(100vh - 0px);
    }

    .language-modal .operator-item {
        width: 100%;
        margin: 14px 0px;
        padding: 0px;
    }

    .language-modal .modal-body {
        padding: 0px 12px;
        border: none;
    }

    .info-details-con {
            transform: translate3d(43px, 168px, 0px) !important;
    }

    .info-details-con::before {
        left: 50%;
    }

    .language-modal .operator-offcanvas-footer {
        margin: 18px 0px;
    }

    .language-modal .modal-header{
        padding: 10px;
    }

    .operator-detail-sec .nav-pills .nav-link {
        padding: 6px;
        font-size: 12px;
        border-right: 1px solid var(--border-color);
        border-bottom: 2px solid var(--white-color);

    }

    
    .language-modal .modal-header .thm-heading h4{
        font-size: 14px;
    }

    .operator-detail-tab  .operator-detail-sec {
        padding: 0px 8px;
    }

    
    .admin-con label {
        font-size: 12px;
    }

    .chat-request-btn .thm-btn{
        border: 1px solid var(--border-color);
        width: 36px;
        height:36px;
        padding: 1px;
    }

    .agent-chat-request .more-action-btn {
        width: auto !important; 
    }

    .chat-request-offcanvas-con {
        padding: 4px 0px;
    }

   .auto-message-slider .owl-nav button {
        margin: 0px !important;
    }

    .auto-message-slider-con .owl-stage-outer {
        padding-top: 10px;
    }

    .Categories-btn .thm-btn {
        margin: 0px 4px;
    }
}

@media screen and (max-width: 359px){

    .status-popup-sec .operator-item {
        width: 100%;
    }

    .search-input-sec input {
        width: 150px;
    }
    .categories-sec .operator-item select {
        width: 120px;
    }
}
