@media screen and (max-width: 767px){

    .end-message-sec {
        bottom: 0 !important;
        left: 0% !important;
        right: 0 !important;
        top: auto !important;
        transform: translate(-0%,-55px) !important;
        bottom: 0 !important;
    }
}

@media screen and (max-width: 480px){

    .end-message-sec {
        transform: translate(0%, -47px) !important;
    }
    .messages-item-content {
        padding: 8px 12px;
        margin-top: 6px;
        padding-bottom: 15px;
    }
}

